body {
    background-color: #000000;
    color: #ffffff;
}

.tinyText {
    color: #999999;
    font-size: small;
}

.padBox {
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    height: 66%;
}

.cpButton {
    color: #e1e1e1;
    background-color: #000000;
}

.functionalDesc {
    font-size: medium;
    color: inherit;
}

.warningText {
    background-color: #aaaaaa;
    color: #ffff00;
    border: dashed;
    border-width: thin;
    font-size: small;
    width: 100%;
}

.warningHeader {
    font-weight: bold;
    font-size: small;
}

a:link {
    color: #cc9900;
    text-decoration: none;
}

a:visited {
    color: #cc9900;
    text-decoration: none;
}

a:active {
    color: #cc9900;
    text-decoration: none;
}

a:hover {
    color: #cc9900;
    text-decoration: underline;
}